{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block center_content %}
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
        <div class="row row-cols-1 align-items-center">
            <mdb-card class="text-white mask-custom shadow-custom my-3" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
             
                    <div class="mb-md-5 mt-md-4 pb-3">
             
                        <h2 class="fw-bold mb-2 text-uppercase">{{ _('Register') }}</h2>
                        <p class="text-white-50 mb-5">{{_('Create a new account')}}</p>
            
                        <form class="form" action="" method="post" role="form">
                            {{ form.hidden_tag() }}
                            {{ wtf.form_errors(form, hiddens="only") }}     
                    
                            <div class="form-outline form-white mb-4 required">
                                <input type="text" id="username" class="form-control form-control-lg" name="username"/>
                                <label class="form-label" for="username">{{_('Username')}}</label>
                            </div>

                            <div class="form-outline form-white mb-4 required">
                                <input type="text" id="name" class="form-control form-control-lg" name="name"/>
                                <label class="form-label" for="name">{{_('Name')}}</label>
                            </div>

                            <div class="form-outline form-white mb-4 required">
                                <input type="text" id="email" class="form-control form-control-lg" name="email"/>
                                <label class="form-label" for="email">{{_('Email')}}</label>
                            </div>
                            
                            <div class="form-outline form-white mb-4 required">
                                <input type="password" id="password" class="form-control form-control-lg" name="password"/>
                                <label class="form-label" for="password">{{_('Password')}}</label>
                            </div>

                            <div class="form-outline form-white mb-4 required">
                                <input type="password" id="password2" class="form-control form-control-lg" name="password2"/>
                                <label class="form-label" for="password2">{{_('Repeat Password')}}</label>
                            </div>
                            
                            <div class="file-field">
                                <input class="form-control form-control-lg mask-custom-file text-light border-light" id="profile_pic" name="profile_pic" type="file"/>
                                <div class="small text-white-50 my-2">Upload your profile picture. Max file size 10 MB</div>
                            </div>

                            <button
                            id="submit"
                            name="submit"
                            class="btn btn-outline-light bg-light text-dark btn-lg px-5 mt-5"
                            data-mdb-ripple-color="dark"
                            type="submit">{{_('Register')}}</button>
                        </form>
                    </div>
                </div>
            </mdb-card>
        </div>
    </div>
{% endblock %}
