.shadow-custom {
    -webkit-box-shadow: 0 5px 10px 0 rgba(255, 248, 225,.31) !important;
    box-shadow: 0 5px 10px 0 rgba(255, 248, 225,.31) !important
}

.mask-custom {
  backdrop-filter: blur(15px);
  background-color: rgba(38,38,38,.9);
  border-radius: 3em;
  border: 2px solid rgba(255,255,255,.1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.mask-custom-file {
  backdrop-filter: blur(15px);
  background-color: transparent;
  border: 1px solid rgba(255,255,255,.1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

#scrollMe {
  overflow: auto;
  position: relative;
  overflow-y: hidden;
}

#chat3 .form-control {
  border-color: transparent;
}

#chat3 .form-control:focus  {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -.75rem;
}

.flipped-img {
  transform: scaleX(-1);
}

.note p {
  font-weight: normal;
}