{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block center_content %}
<div class="row my-4 justify-content-center text-light">
    <div class="my-md-2">
        <h1 class="fw-bold mb-2 text-center">{{ _('Edit Profile') }}</h1>
        <hr>
    </div>
</div>

<div class="col ml-4">
    <div class="card mb-3 m-4 bg-dark text-white">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-xl-6 p-2 d-flex justify-content-center">
            <img class="img-fluid rounded-circle" src="{{ user.avatar(225) }}">
          </div>
          <div class="col-xl-6">
            <div class="card-body">
                <!-- Form -->
                <form class="form" action="" method="post" role="form">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                    <h4 class="card-title">{{ user.name }}</h5>

                        <!-- Username -->
                        <div class="card-text row">
                            <div class="col-auto">
                                <span class="form-text">{{_('Username') }}:</span>
                            </div>
                            <div class="card-text form-outline col-auto">
                                <input type="text" id="username" class="form-control form-control-sm" name="username"
                                value="{{ user.username }}"/>
                                
                            </div>
                        </div>

                        <!-- Last Seen -->
                        <p class="card-text">
                            <small class="text-muted">{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</small>
                        </p>    

                        <!-- Follows -->
                        <p class="card-text">
                            {{ _('%(count)d followers', count=user.followers.count()) }}, {{ _('%(count)d following', count=user.followed.count()) }}
                        </p>

                        <!-- About Me -->
                        <div class="form-outline card-text">
                            <textarea class="form-control" id="about_me" rows="3" name="about_me"
                            placeholder="{{ user.about_me }}"></textarea>
                            <label class="form-label text-white" for="about_me">About Me</label>
                          </div>

                        <button
                        id="submit"
                        name="submit"
                        class="btn btn-outline-light bg-light text-dark btn-md px-5 mt-2"
                        data-mdb-ripple-color="dark"
                        type="submit">{{_('Update')}}</button>
                </form>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- <section class="container-fluid py-3">
    <div class="row">
        <h1></h1>
        {{ wtf.quick_form(form) }}
    </div>
</section> -->
{% endblock %}
