<!--

    Navbar Macros

-->
{% macro _nav_brand() %}
<a href="{{ url_for('main.index') }}"
    class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5 fw-bold" style="color: goldenrod">{{ config['COVER_NAME'] }}</span>
    <!-- <span class="fs-5">B<span class="d-none d-sm-inline">rand</span></span> -->
</a>
{% endmacro %}


{% macro _nav_home() %}
<li class="nav-item">
    <a href="{{ url_for('main.index') }}" class="nav-link link-warning px-sm-0 px-2">
        <i class="fas fa-space-shuttle fa-lg" style="color: goldenrod"></i><span
            class="ms-4 d-none d-sm-inline d-sm-none d-md-inline d-md-none d-lg-inline  fw-bold">{{ _('Home') }}</span>
    </a>
</li>
{% endmacro %}


{% macro _nav_posts() %}
<li class="nav-item">
    <a class="nav-link link-warning px-sm-0 px-2" href="{{ url_for('main.explore') }}">
        <i class="fab fa-wpexplorer fa-lg" style="color: goldenrod"></i><span class="ms-4 d-none d-sm-inline d-sm-none d-md-inline d-md-none d-lg-inline  fw-bold"
            style="color: goldenrod">{{ _('Explore') }}</span>
    </a>
</li>
{% endmacro %}


{% macro _nav_updates() %}
<li class="nav-item">
    <a class="nav-link link-warning px-sm-0 px-2" href="{{ url_for('main.updates') }}">
        <i class="fas fa-satellite fa-lg" style="color: goldenrod"></i></i><span style="color: goldenrod"
            class="ms-4 d-none d-sm-inline d-sm-none d-md-inline d-md-none d-lg-inline  fw-bold">{{ _('Activity') }}</span>
        {% set new_updates = current_user.updates_count() %}
        <span id="update_count" class="badge rounded-pill badge-notification bg-danger"
            style="visibility: {% if new_updates %}visible{% else %}hidden{% endif %};">
            {{ new_updates }}
        </span>
    </a>
</li>
{% endmacro %}


{% macro _nav_messages() %}
<li class="nav-item">
    <a class="nav-link link-warning px-sm-0 px-2 my-sm-0 my-2" href="{{ url_for('main.messages') }}">
        <i class="fas fa-envelope fa-lg" style="color: goldenrod"></i><span style="color: goldenrod"
            class="ms-3 d-none d-sm-inline d-sm-none d-md-inline d-md-none d-lg-inline fw-bold">{{ _('Messages') }}</span>
        {% set new_messages = current_user.new_messages() %}
        <span id="message_count" class="badge rounded-pill badge-notification bg-danger"
            style="visibility: {% if new_messages %}visible{% else %}hidden{% endif %};">
            {{ new_messages }}
        </span>
    </a>
</li>
{% endmacro %}


{% macro _nav_admin() %}
<li class="nav-item">
    <a class="nav-link link-warning px-sm-0 px-2" href="{{ url_for('admin.index') }}">
        <i class="fas fa-tools fa-lg" style="color: goldenrod"></i><span class="ms-4 d-none d-sm-inline d-sm-none d-md-inline d-md-none d-lg-inline  fw-bold"
            style="color: goldenrod">{{ _('Admin') }}</span>
    </a>
</li>
{% endmacro %}

<!--

    Dropdown Macros

-->

{% macro _nav_user_anon() %}
<a href="#" class="d-flex align-items-center text-warning text-decoration-none dropdown-toggle"
    data-mdb-toggle="dropdown" id="dropdownUser" aria-expanded="false">
    <i class="fas fa-user-astronaut"></i>
    <span class="d-none d-sm-inline d-sm-none d-md-inline d-md-none d-lg-inline  mx-1">Anonymous</span>
</a>
<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
    <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
    <li><a class="dropdown-item" href="{{ url_for('auth.register')}}">{{ _('Register') }}</a></li>
</ul>
{% endmacro %}


{% macro _nav_user() %}
<a href="#dropdownUser" class="d-flex align-items-center text-warning text-decoration-none dropdown-toggle"
    data-mdb-toggle="dropdown" id="dropdownUser" aria-expanded="false">
    <img class="align-self-start mx-2 rounded-circle" style="border: 1.65px solid goldenrod"
        src="{{ current_user.avatar(35) }}">
    <span class="d-none d-sm-inline mx-1 fw-bold" style="color: goldenrod">Welcome, {{ current_user.username }}</span>
</a>
<ul id="dropdownUser" class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
    <li><a class="dropdown-item" style="color: goldenrod"
            href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
    <li>
        <hr class="dropdown-divider" style="color: goldenrod">
    </li>
    <li><a class="dropdown-item" style="color: goldenrod" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
</ul>
{% endmacro %}


{% macro _searchbar() %}
<form class="d-none d-md-block px-4" method="get" action="{{ url_for('main.search') }}">
    <input id="q" class="form-control rounded" name="q" type="text" value="" size="20" placeholder="&#xF002;  Search"
        aria-label="Search" aria-describedby="search-addon"
        style="font-family: FontAwesome, Roboto; color: goldenrod; background-color: black; border: 1.5px solid goldenrod" />
</form>
{% endmacro %}


{% macro side_navbar() %}
<!-- Links -->
<ul class="nav justify-content-center align-items-center" id="menu">
    <div class="pt-3">
        {{ _nav_home() }}
        {{ _nav_posts() }}
        {% if not current_user.is_anonymous %}
        {{ _nav_updates() }}
        {{ _nav_messages() }}
        {% if current_user.is_admin %}
        {{ _nav_admin() }}
        {% endif %}
        {% endif %}
    </div>
</ul>
{% endmacro %}


{% macro top_navbar() %}
<nav class="navbar navbar-expand-md sticky-top py-0 navbar-dark bg-dark border-bottom border-warning">
    <div class="container-fluid">
        <!-- Navbar logo and brand -->
        <a class="navbar-brand fw-bold" href="{{ url_for('main.index') }}">
            <img class="rounded-circle" src="{{ url_for('static', filename=config['LOGO']) }}" height="49" alt=""
                loading="lazy" />
            <small class="d-none d-md-block" style="color: goldenrod;">{{ config['COVER_NAME'] }}</small>
        </a>

        <!-- Hidden links -->
        <div class="nav d-md-none px-0 justify-content-center align-items-center" id="menu">
            {{ _nav_home() }}
            {{ _nav_posts() }}
            {% if not current_user.is_anonymous %}
            {{ _nav_updates() }}
            {{ _nav_messages() }}
            {% endif %}
            <!-- TODO: Make this trigger a modal with the search form -->
            <span class="input-group-text border-0 px-2" id="search-addon">
                <i class="fas fa-search" style="color: goldenrod"></i>
            </span>
        </div>

        <!-- Right links -->
        <div class="d-flex align-items-center ms-auto">
            <!-- Searchbar -->
            {% if g.search_form %}
            {{ _searchbar() }}
            {% endif %}
        </div>

        <!-- User Dropdown -->
        {% if current_user.is_anonymous %}
        {{ _nav_user_anon() }}
        {% else %}
        <div class="dropdown px-2">
            <a href="#" class="text-warning text-decoration-none dropdown-toggle" data-mdb-toggle="dropdown"
                id="dropdownMenuLink" aria-expanded="false">

                <span class="d-none d-sm-inline mx-2 fw-bold" style="color: goldenrod">Welcome, {{
                    current_user.username }}</span>
                <img class="align-self-start rounded-circle" style="border: 1.65px solid goldenrod"
                    src="{{ current_user.avatar(35) }}">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" style="color: goldenrod"
                        href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a>
                </li>
                <li>
                    <hr class="dropdown-divider" style="color: goldenrod">
                </li>
                {% if current_user.is_admin %}
                <li><a class="dropdown-item" style="color: goldenrod" href="{{ url_for('admin.index') }}">{{
                        _('Admin') }}</a></li>
                <li>
                    <hr class="dropdown-divider" style="color: goldenrod">
                </li>
                {% endif %}
                <li><a class="dropdown-item" style="color: goldenrod" href="{{ url_for('auth.logout') }}">{{
                        _('Logout') }}</a></li>
            </ul>
        </div>
        {% endif %}
    </div>

    </div>
</nav>
{% endmacro %}



<!--
    Messaging-related Macros:
-->


{% macro all_messages_template() %}
<!-- <h5 class="font-weight-bold mb-3 text-center text-white">Member</h5> -->
<div class="card mask-custom">
    <div class="card-body">

        <ul class="list-unstyled mb-0">
            <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                <a href="#!" class="d-flex justify-content-between link-light">
                    <div class="d-flex flex-row">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar"
                            class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                            style="border: 1.65px solid goldenrod" width="60">
                        <div class="pt-1">
                            <p class="fw-bold mb-0">John Doe</p>
                            <p class="small text-white">Hello, Are you there?</p>
                        </div>
                    </div>
                    <div class="pt-1">
                        <p class="small text-white mb-1">Just now</p>
                        <span class="badge bg-danger float-end">1</span>
                    </div>
                </a>
            </li>
            <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                <a href="#!" class="d-flex justify-content-between link-light">
                    <div class="d-flex flex-row">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" alt="avatar"
                            class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                            style="border: 1.65px solid goldenrod" width="60">
                        <div class="pt-1">
                            <p class="fw-bold mb-0">Danny Smith</p>
                            <p class="small text-white">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="pt-1">
                        <p class="small text-white mb-1">5 mins ago</p>
                    </div>
                </a>
            </li>
            <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                <a href="#!" class="d-flex justify-content-between link-light">
                    <div class="d-flex flex-row">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="avatar"
                            class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                            style="border: 1.65px solid goldenrod" width="60">
                        <div class="pt-1">
                            <p class="fw-bold mb-0">Alex Steward</p>
                            <p class="small text-white">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="pt-1">
                        <p class="small text-white mb-1">Yesterday</p>
                    </div>
                </a>
            </li>
            <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                <a href="#!" class="d-flex justify-content-between link-light">
                    <div class="d-flex flex-row">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar"
                            class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                            style="border: 1.65px solid goldenrod" width="60">
                        <div class="pt-1">
                            <p class="fw-bold mb-0">Lara Croft</p>
                            <p class="small text-white">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="pt-1">
                        <p class="small text-white mb-1">Yesterday</p>
                    </div>
                </a>
            </li>
            <li class="p-2">
                <a href="#!" class="d-flex justify-content-between link-light">
                    <div class="d-flex flex-row">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar"
                            class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                            style="border: 1.65px solid goldenrod" width="60">
                        <div class="pt-1">
                            <p class="fw-bold mb-0">Brad Pitt</p>
                            <p class="small text-white">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="pt-1">
                        <p class="small text-white mb-1">5 mins ago</p>
                        <span class="text-white float-end"><i class="fas fa-check" aria-hidden="true"></i></span>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>
{% endmacro %}


{% macro all_messages_old() %}
<table class="table table-hover">
    <tr>
        <td width="75px">
            <a href="{{ url_for('main.user', username=message.author.username) }}">
                <img src="{{ message.author.avatar(75) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
            <span class="user_popup">
                <a href="{{ url_for('main.user', username=message.author.username) }}">
                    {{ message.author.username }}
                </a>
            </span>
            {% endset %}
            {{ _('%(username)s messaged this %(when)s --',
            username=user_link, when=moment(message.timestamp).fromNow()) }}
            <br>
            <span id="message{{ message.id }}">{{ message.body }}</span>
            <br>
            <span class="user_popup">
                <a class="btn btn-info">Reply</a>
            </span>

            <div id="demo{{ message.id }}" class="collapse">
                <!-- {% if form %}{{ wtf.quick_form(form) }}{% endif %} -->
                <form action="{{ url_for('main.messages')}}" method="post">
                    <textarea name="Message..."></textarea>
                    <input type="submit">
                </form>
            </div>
        </td>
    </tr>
</table>
{% endmacro %}


{% macro convo_messages_template() %}
<ul class="list-unstyled text-white">
    <li class="d-flex justify-content-between mb-4">
        <img class="align-self-start me-3 rounded-circle" style="border: 1.6px solid goldenrod"
            src="{{ current_user.avatar(50) }}">
        <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar"
        class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60"> -->
        <div class="card mask-custom">
            <div class="card-header d-flex justify-content-between p-3"
                style="border-bottom: 1px solid rgba(255,255,255,.3);">
                <p class="fw-bold mb-0">{{ current_user.username }}</p>
                <p class="text-light small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </li>
    <li class="d-flex justify-content-between mb-4">
        <div class="card mask-custom w-100">
            <div class="card-header d-flex justify-content-between p-3"
                style="border-bottom: 1px solid rgba(255,255,255,.3);">
                <p class="fw-bold mb-0">Brad Pitt</p>
                <p class="text-light small mb-0"><i class="far fa-clock"></i> 5 mins ago</p>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium.
                </p>
            </div>
        </div>
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" style="border: 1.65px solid goldenrod"
            alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
    </li>
    <li class="d-flex justify-content-between mb-4">
        <img class="align-self-start me-3 rounded-circle" style="border: 1.6px solid goldenrod"
            src="{{ current_user.avatar(55) }}">
        <div class="card mask-custom">
            <div class="card-header d-flex justify-content-between p-3"
                style="border-bottom: 1px solid rgba(255,255,255,.3);">
                <p class="fw-bold mb-0">{{ current_user.username }}</p>
                <p class="text-light small mb-0"><i class="far fa-clock"></i> 2 mins ago</p>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </li>
    <li class="mb-3">
        <div class="form-outline form-white">
            <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
            <label class="form-label" for="textAreaExample">Message</label>
        </div>
    </li>
    <button type="button" class="btn btn-outline-warning btn-lg btn-rounded float-end"
        data-mdb-ripple-color="warning">Send</button>
</ul>
{% endmacro %}


<!--

    User Macros

 -->


{% macro user_popup_macro(user) %}
<a class="link-info" href="{{ url_for('main.user', username=user.username) }}">{{ _('Profile') }} </a> |
{% if not current_user.is_following(user) %}
<a class="link-info" href="{{ url_for('main.follow_action', user_id=user.id, action='follow') }}">{{_('Follow')}}</a>
{% else %}
<a class="link-info"
    href="{{ url_for('main.follow_action', user_id=user.id, action='unfollow') }}">{{_('Unfollow')}}</a>
{% endif %}
{% endmacro %}


{% macro user_link_macro(user) %}
<span class="text-info" style="cursor: pointer;" data-mdb-toggle="popover" data-mdb-placement="top"
    data-mdb-container="body" data-mdb-html=true data-mdb-content='{{ user_popup_macro(user=user) }}'>{{ user.name
    }}</span>
{% endmacro %}


{% macro user_card(user) %}
<mdb-card data-content-type="user" class="mb-4 shadow-custom mask-custom">
    <!-- Card content -->
    <div class="card-body text-center">
        <div id="user-{{user.id}}" class="d-flex p-1">
            <!-- User Image -->
            <a href="{{ url_for('main.user', username=user.username) }}">
                <img class="me-2 rounded-circle" src="{{ user.avatar(35) }}">
            </a>

            <!-- User name -->
            {% set user_link %}
            {{ user_link_macro(user=user) }}
            {% endset %}
            <h6 class="mt-0 font-weight-bold">{{ _('%(username)s', username=user_link) }}</h6>

            <!-- Metadata -->
            <small class="ms-2 text-white-50 text-start">
                <i class="fas fa-sync"></i>
                {{ user.followers.count() }}
            </small>
        </div>

        <!-- About me -->
        <div class="text-start text-light pt-2 text-wrap">
            <p>
                <small>
                    About: {{ user.about_me|nl2br }}
                </small>
            </p>
        </div>
    </div>
</mdb-card>
{% endmacro %}


{% macro users_widget(users) %}
<!-- users_widget
        - public; loops over users and generates card column of users

        parameters
        ----------
        users: a list of users from Post db model

        returns
        -------
        row-col of users
    -->
{% for user in users %}
<div class="row row-cols-1 px-3">
    {{ user_card(user) }}
</div>
{% endfor %}
{% endmacro %}

<!--

    Posts-related Macros:

-->


{% macro _inner_post(content, in_comment_form=False, is_condensed=True) %}
<!-- _inner_post
    - private; renders post content, recursively used for comments

    parameters
    ----------
    content: must be a post from Post db model

    returns
    -------
    rendered inner-post content
-->

<!-- User Name and time -->
<div class="d-flex p-1">
    <!-- User Image -->
    <a href="{{ url_for('main.user', username=content.author.username) }}">
        <img class="me-2 rounded-circle" src="{{ content.author.avatar(35) }}">
    </a>


    {% set user_link %}
    {{ user_link_macro(user=content.author) }}
    {% endset %}
    <h6 class="mt-0 font-weight-bold">{{ _('%(username)s', username=user_link) }}</h6>
    <small class="ms-2 text-white-50">
        <i class="far fa-clock"></i>
        {{ _('%(when)s', when=moment(content.created_at).fromNow()) }}
    </small>

</div>

<!-- Content -->
<div>
    <!-- Translate -->
    {% if content.language and content.language != g.locale %}
    <p class="text-start"><small class="text-muted">
            <a id="translation{{ content.id }}" href="javascript:translate(
                        '#post{{ content.id }}',
                        '#translation{{ content.id }}',
                        '{{ content.language }}',
                        '{{ g.locale }}');">{{ _('Translate') }}
            </a>
        </small></p>
    {% endif %}

    <!-- Body -->
    <p class="text-start text-light pt-2 text-wrap">
        {% if config['ALLOW_EMBEDS'] %}
        {{ content.body|oembed(maxwidth=450)|nl2br }}
        {% else %}
        {{ content.body|nl2br }}
        {% endif %}
    </p>

    <!-- Media -->
    {% if content.media_url %}
    {% if content.media_class == 'audio' %}
    <div class="d-flex justify-content-center m-2">
        <audio class="mejs__player" preload="none" style="width: 100%; height: 100%;" width="100%" height="100%"
            src="{{ content.media_url}}" type="{{ content.media_type }}"></audio>
    </div>
    {% elif content.media_class == 'videos' %}
    <div class="d-flex justify-content-center m-2">
        <video class="mejs__player" preload="none" style="width: 100%; height: 100%;" width="100%" height="100%"
            src="{{ content.media_url}}" type="{{ content.media_type }}"></video>
    </div>
    {% else %}
    <img class="card-img-bottom" src="{{ content.media_url }}">
    {% endif %}
    {% endif %}

    <!-- Repost -->
    {% if content.has_root() %}
    {% set root = content.root[0].root %}
    <div id="root"
        class="card-body note note-warning bg-dark border-top border-bottom border-end border-warning p-2 text-center"
        data-content-type="post" data-post-id="{{ root.id }}">
        {{ _inner_post(content=root, in_comment_form=True) }}
        <a class="root-link" href="{{ url_for('main.post_thread', post_id=root.id) }}"></a>
    </div>
    {% endif %}

</div>

<!-- Engagment -->
{% if not in_comment_form %}
    <hr class="my-2 text-light">
    <table class="table table-fixed table-sm table-borderless mb-0 align-middle">
        <tbody>
            <tr>
                <!-- Comment -->
                <td class="p-0">{% if not content.is_comment %}
                    <li class="list-inline-item">
                        <button class="edit-modal-opener btn btn-sm btn-info btn-rounded" data-mdb-toggle="modal"
                            data-mdb-target="#Modal" data-mdb-ripple-color="light"
                            data-whatever="{{ url_for('main.comment', post_id=content.id) }}">
                            <i class="far fa-comments text-dark d-inline"></i>
                            <p class="ms-1 text-start text-dark d-inline">{{ content.comments.count() }}</p>
                        </button>
                    </li>
                    {% endif %}
                </td>
                <!-- Repost -->
                <td class="p-0">{% if content.user_id != current_user.id %}
                    <li class="list-inline-item">
                        <button class="edit-modal-opener btn btn-sm btn-success btn-rounded" data-mdb-toggle="modal"
                            data-mdb-target="#Modal" data-mdb-ripple-color="light"
                            data-whatever="{{ url_for('main.repost', post_id=content.id) }}">
                            <i class="fas fa-retweet text-dark d-inline"></i>
                            <p class="ms-1 text-start text-dark d-inline">{{ content.reposts.count() }}</p>
                        </button>
                    </li>
                    {% endif %}
                </td>
                <!-- Likes -->
                <td class="p-0">{% if content.user_id != current_user.id %}
                    <li class="list-inline-item">
                        {% if not current_user.has_liked(content) %}
                        <a class="btn btn-sm btn-danger btn-rounded"
                            href="{{ url_for('main.like_action', post_id=content.id, action='like') }}"
                            data-mdb-ripple-color="light" role="button">
                            <i class="far fa-thumbs-up text-dark d-inline"></i>
                            <p class="ms-1 text-start text-dark d-inline">{{ content.likes.count()}}</p>
                        </a>
                        {% else %}
                        <a class="btn btn-sm btn-danger btn-rounded"
                            href="{{ url_for('main.like_action', post_id=content.id, action='unlike') }}"
                            data-mdb-ripple-color="light" role="button">
                            <i class="far fa-thumbs-down text-dark d-inline"></i>
                            <p class="ms-1 text-start text-dark d-inline">{{ content.likes.count()}}</p>
                        </a>
                        {% endif %}
                    </li>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <hr class="my-2 text-light">

    <!-- Comments -->
    {% if content.has_comments() and not content.is_comment and is_condensed %}
    <a href="#post-{{content.id}}-comments" data-mdb-toggle="collapse" data-mdb-ripple-color="light" aria-expanded="false"
        aria-controls="comments">
        <h6 class="show-replies ms-4 text-light text-start">+ replies</h6>
    </a>
    {% endif %}

    {% if content.has_comments() and not is_condensed %}
    <h4 class="ms-4 text-light text-start">Replies</h4>
    {% endif %}

    <!-- Comments Dropdown -->
    {% if content.has_comments() and not content.is_comment and is_condensed %}
    <div class="collapse" id="post-{{content.id}}-comments">

        {% for comment in content.comments %}
        <hr class="ms-4 my-2 text-light">
        <div id="post-{{ comment.comment.id }}" class="ms-4" 
            data-content-type="post" data-post-id="{{ comment.comment.id }}">
            {{ _inner_post(comment.comment)}}
        </div>
        {% endfor %}
    </div>
    {% else %}
        {% for comment in content.comments %}
        <hr class="my-2 text-light">
        <div id="post-{{ comment.comment.id }}" class="ms-4"
            data-content-type="post" data-post-id="{{ comment.comment.id }}">
            {{ _inner_post(comment.comment)}}
        </div>
        {% endfor %}
    {% endif %}
{% endif %}

{% endmacro %}


{% macro post_widget(post, in_comment_form=False, is_condensed=True) %}
<!-- post_widget
    - public; renders entire post content inside card

    parameters
    ----------
    post: must be a post from Post db model

    returns
    -------
    rendered full post content
-->

<mdb-card id="post-{{ post.id }}" class="mb-4 shadow-custom mask-custom"
    data-content-type="post" data-post-id="{{ post.id }}">
    <!-- Card content -->
    <div class="card-body text-center">
        <!-- Main Post -->
        {{ _inner_post(post, in_comment_form=in_comment_form, is_condensed=is_condensed) }}
    </div>
</mdb-card>
{% endmacro %}


{% macro posts_widget(posts) %}
<!-- posts_widget
        - public; loops over posts and generates card column of posts

        parameters
        ----------
        posts: a list of posts from Post db model

        returns
        -------
        row-col of posts
    -->
{% for post in posts %}
{% if not post.is_comment %}
<div class="row row-cols-1 px-3">
    {{ post_widget(post)}}
</div>
{% endif %}
{% endfor %}
{% endmacro %}


<!--

    Updates-related Macros:

-->


{% macro update_widget(update) %}
<!-- update_widget
        - public; renders entire update-content

        parameters
        ----------
        update: a python dictionary returned from the `to_dict` API method; must contain the 'type' key

        returns
        -------
        rendered update content with relevant link embedded
    -->
<mdb-card data-content-type="update" class="mb-4 shadow-custom mask-custom">
    <!-- Card content -->
    <div class="card-body text-center d-flex justify-content-center">
        <!-- Follow Updates -->
        {% if update['type'] == 'follow' %}
        {% set user_link %}
        {{ user_link_macro(user=update['follower']) }}
        {% endset %}

        <table>
            <tbody>
                <tr>
                    <td class="align-baseline ps-1">
                        <h6 class="mt-0 font-weight-bold">{{ _('%(username)s', username=user_link) }}</h6>
                    </td>
                    <td class="align-baseline">
                        <p class="text-light"> followed
                            {% if update['follower_id'] == current_user.id %}yourself {% else %}you {% endif%}
                            <small class="text-success">{{ _('%(when)s', when=moment(update["created_at"]).fromNow()) }}</small>.
                        </p>
                    </td>
                    <td class="align-baseline">
                        <a href="{{ url_for('main.user', username=update['follower'].username) }}"
                            class="stretched-link"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Comment Updates -->
        {% elif update['type'] == 'comment' %}
        {% set user_link %}
        {{ user_link_macro(user=update['comment'].author) }}
        {% endset %}

        <table>
            <tbody>
                <tr>
                    <td class="align-baseline">
                        {% if update['comment'].author == current_user %}
                        <p class="text-light">You</p>
                        {% else %}
                        <h6 class="mt-0 font-weight-bold">{{ _('%(username)s', username=user_link) }}</h6>
                        {% endif %}
                    </td>
                    <td class="align-baseline ps-1">
                        <p class="text-start text-light"> commented on your post <small class="text-success">{{
                                _('%(when)s', when=moment(update["created_at"]).fromNow()) }}</small>.</p>
                    </td>
                    <td class="align-baseline">
                        <a href="{{ url_for('main.post_thread', post_id=update['parent_id']) }}"
                            class="stretched-link"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Like Updates -->
        {% elif update['type'] == 'like' %}
        {% set user_link %}
        {{ user_link_macro(user=update['user']) }}
        {% endset %}

        <table>
            <tbody>
                <tr>
                    <td class="align-baseline ps-1">
                        <h6 class="mt-0 font-weight-bold">{{ _('%(username)s', username=user_link) }}</h6>
                    </td>
                    <td class="align-baseline">
                        <p class="text-start text-light"> liked your post <small class="text-success">{{
                                _('%(when)s', when=moment(update["created_at"]).fromNow()) }}</small>.</p>
                    </td>
                    <td class="align-baseline">
                        <a href="{{ url_for('main.post_thread', post_id=update['post_id']) }}"
                            class="stretched-link"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Repost Updates -->
        {% else %}
        {% set user_link %}
        {{ user_link_macro(user=update['repost'].author) }}
        {% endset %}

        <table>
            <tbody>
                <tr>
                    <td class="align-baseline ps-1">
                        <h6 class="mt-0 font-weight-bold">{{ _('%(username)s', username=user_link) }}</h6>
                    </td>
                    <td class="align-baseline">
                        <p class="text-start text-light"> shared your post <small class="text-success">{{
                                _('%(when)s', when=moment(update["created_at"]).fromNow()) }}</small>.</p>
                    </td>
                    <td class="align-baseline">
                        <a href="{{ url_for('main.post_thread', post_id=update['repost_id']) }}"
                            class="stretched-link"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        {% endif %}

    </div>
</mdb-card>
{% endmacro %}


{% macro updates_widget(updates) %}
<!-- updates_widget
        - public; loops over updates and generates card column of updates

        parameters
        ----------
        updates: a list of updates from `updates()` method

        returns
        -------
        row-col of updates
    -->
{% for update in updates %}
<div class="row row-cols-1 px-3">
    {{ update_widget(update)}}
</div>
{% endfor %}
{% endmacro %}


<!--

    Form Macros

 -->


{% macro _inner_post_form(form, label, button, comment_form=False) %}

{{ form.hidden_tag() }}
{{ wtf.form_errors(form, hiddens="only") }}

<!-- Grid Row -->
<div class="row pt-2">

    <!-- Input Column -->
    <div class="col col-md-10 d-flex flex-column h-sm-75 h-md-75">
        <!-- Message input -->
        <div class="form-outline required text-light">
            <textarea class="form-control rounded bg-dark text-light" style="box-shadow: -3px 3px 5px 0 goldenrod" {%if
                comment_form %} id="comment" name="comment" {% else %} id="post-form" name="post" {% endif %} rows="3"
                required=""></textarea>
            <label class="form-label fw-bold" style="color: goldenrod;" for="post">{{ label }}</label>
        </div>
    </div>

    <!-- Button Column -->
    <div class="col-2 d-flex flex-column h-sm-25 h-md-25 ps-1">
        <!-- Top Row Buttons -->
        <div class="form-row my-2">
            <!-- Attachment -->
            <div class="file-field">
                <label for="file_object" class="text-light">
                    <div class="btn btn-danger btn-rounded text-light px-2">
                        <i class="fas fa-photo-video"></i>
                    </div>
                </label>
                <input id="file_object" name="file_object" type="file" hidden />
            </div>
        </div>

        <!-- Bottom Row Submit -->
        <div class="form-row my-2">
            <!-- Submit button -->
            <button {% if comment_form %} id="ModalSubmit" {% endif %}
                class="btn btn-warning btn-rounded text-light px-2" name="submit" type="submit" value="Submit">
                {% if button == 'Launch' %}<i class="fas fa-rocket me-1 d-inline"></i>{% endif %}<span
                    class="d-none d-sm-inline d-sm-none d-md-inline d-lg-inline">{{ button }}</span>
            </button>
        </div>
    </div>
</div>
{% endmacro %}


{% macro post_form(form, label="Share something...", button="Launch") %}
<form class="md-form mx-3 my-4" action="" method="post" enctype="multipart/form-data" role="form">
    {{ _inner_post_form(form=form, label=label, button=button) }}
</form>
{% endmacro %}


{% macro comment_form(form, label="Reply...", button="Launch", is_repost=False) %}
<form id="ModalForm" class="md-form bg-dark" action="" method="post" enctype="multipart/form-data" role="form">
    <div class="modal-header">
        <button type="button" class="close" data-mdb-dismiss="modal" aria-label="close">
            <span class="text-light" aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-light">{% if is_repost %}Repost{% else %}Leave a Comment{% endif %}</h4>
    </div>

    <div class="modal-body mx-2">
        <!-- Parent Post -->
        {{ _inner_post(parent_post, in_comment_form=True) }}

        <!-- Reply Form -->
        {{ _inner_post_form(form=form, label=label, button=button, comment_form=True) }}
    </div>
</form>
{% endmacro %}


<!--

    Lazy Loading

-->


{% macro lazy_loader_sentinel(n_url, p_url) %}
<!-- element to trigger the IntersectionObserver -->
<div class="d-flex justify-content-center mb-3" id="sentinel">
    <a class="sentinel-next-url" id="{{n_url}}" hidden></a>
    <a class="sentinel-prev-url" id="{{p_url}}" hidden></a>
    <div class="spinner-border" role="status"></div>
</div>
{% endmacro %}