{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'macros.html' import posts_widget with context %}
{% from 'macros.html' import post_form with context %}
{% from 'macros.html' import convo_messages_template with context %}
{% from 'macros.html' import all_messages with context %}


{% block center_content %}
    <h1 class="text-center text-dark">{{ _('Messages') }}</h1>

    <div class="card mask-custom">
        <div class="card-body">
            {% for message in messages %}
                <div class="p-2 border-bottom" style="border-top: 1px solid rgba(255,255,255,.3);border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                    <a href="{{ url_for('main.user', username=message.author.username) }}"
                        class="d-flex justify-content-center link-light">

                        <div class="d-flex flex-row">

                            <img src="{{ message.author.avatar(57) }}"
                                    class="rounded-circle align-self-center shadow-1-strong"
                                    style="border: 1.65px solid goldenrod">

                            <div class="mx-3 col-6 text-truncate">
                                {% set user_link %}
                                    <span class="user_popup">
                                        <a href="{{ url_for('main.user', username=message.author.username) }}"
                                            class="fw-bold mb-0"
                                            style="color: white">
                                            {{ message.author.username }}
                                        </a>
                                    </span>
                                {% endset %}
                                {{ _('%(username)s',username=user_link) }}
                                <!-- <span class="text-white mx-2"><i class="fas fa-check" aria-hidden="true"></i></span> -->
                                <br>
                                <span id="message{{ message.id }}"
                                        class="small"
                                        style="color: goldenrod">
                                        {{ message.body }}
                                </span>

                            </div>

                            <div class="small col-3 ms-auto text-white">
                                <i class="far fa-clock"></i>
                                {{ _('%(when)s',when=moment(message.timestamp).fromNow()) }}
                            </div>

                        </div>

                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block right_content %}
{% endblock %}