{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'macros.html' import posts_widget with context %}
{% from 'macros.html' import post_form with context %}
{% from 'macros.html' import users_widget with context %}
{% set end_message = 'No more results' %}
{% set lazy_load = True %}


{% block center_content %}
{{ super() }}

<h1 class="text-center text-dark">{{ _(title) }}</h1>
<!-- Toggle Buttons -->
<div class="d-flex align-start m-1">
    <div class="btn-group ">
        <a href="{{ url_for('main.search', q=g.search_form.q.data, model='post')}}"
            class="btn btn-dark {% if model == 'post' %}active{% endif %}">
            <span style="color: goldenrod">Posts</span></a>
        <a href="{{ url_for('main.search', q=g.search_form.q.data, model='user')}}"
            class="btn btn-dark {% if model == 'user' %}active{% endif %}">
            <span style="color: goldenrod">Users</span></a>
    </div>
</div>

<!-- Result widgets -->
<div>
    {{ posts_widget(payload['posts']) }}
</div>
<div>
    {{ users_widget(payload['users']) }}
</div>

{% endblock %}