{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'macros.html' import updates_widget with context %}
{% set end_message = 'You have no new activity' %}
{% set lazy_load = True %}

{% block center_content %}
{{ super() }}
    <div class="col ml-4">

            <div class="row sticky-top my-4 justify-content-center text-dark">
                <div class="my-md-2">
                    <h1 class="fw-bold mb-2 text-center">{{ _('Activity') }}</h1>
                    <!-- <p class="my-2 text-center">{% if updates|length > 0 %}
                        You have new activity to check out.
                    {% else %}
                        You have no new activity.
                    {% endif %}</p> -->
                </div>
            </div>

            <!-- Updates -->
            {% if updates|length > 0 %}
                {{ updates_widget(updates) }}
            {% endif %}

    </div>
{% endblock %}